.y_all {
  background-color: #fff;
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .clear {
    zoom: 1;
  }
  .clear:after {
    display: block;
    content: '';
    clear: both;
  }
  .item {
    box-sizing: border-box;
    width: 280px;
    height: 35px;
    input {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 18px;
      padding-left: 22px;
      border: 1px solid #ddd;
      outline: none;
    }
    input:focus {
      box-shadow: 0 0 10px #333;
    }
    .exec,
    .phoneExec {
      display: inline-block;
      width: 180px;
    }
    .testImg,
    .btnNum {
      float: right;
      width: 88px;
      height: 100%;
    }
  
    .testImg{
      background: url('../../images/yzm.png') no-repeat;
      background-size: contain;
    }
    .ty{
      text-align: center;
      font-size: 12px;
      margin-top:12px;
    }
  }
  .forget {
    text-align: right;
    margin-top: 10px;
  }
  .btnLogin {
    background-color: #4eb5ba;
    color: #fff;
  }
  .item:not(:first-child) {
    margin-top: 27px;
  }
  .lBox {
    padding: 45px 170px 0 152px;
    border-right: 1px solid #ddd;
  }
  .rBox {
    padding: 45px 265px 0 170px;
    font-size: 18px;
    .img{
      background-repeat: no-repeat;
      height:200px;
      width:150px;
      background-size: contain;
    }
    .re{
      background-image: url('../../images/login_img.png')
    }
    .ri{
      background-image: url('../../images/register_imgpng.png');
    }
    .lo{
      background-image: url('../../images//login_img.png');
    }
  }
}